/*---Global-----*/
body {
    background: #000;
    color: #e0e8f8;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: #8db600;
    transition: 0.5s;
  }
  
  a:hover,
  a:active,
  a:focus {
    color: #8db600;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin: 0 0 20px 0;
    padding: 0;
  }
  
  /* Back to top button */
  
  .back-to-top {
    position: fixed;
    display: none;
    background: #556b2f;
    color: #e0e8f8;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top: 12px;
    color: #e0e8f8;
  }

  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #18d26e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  /*---------
  # Header
  --------------------------------------------------------------*/
  
  #header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
  }
  
  #header.header-scrolled {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
  }
  
  #header #logo {
    float: left;
  
  }
  
  /*---#header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
  }
  
  #header #logo h1 a,
  #header #logo h1 a:hover {
    color: #e0e8f8;
    padding-left: 10px;
    border-left: 1px solid #556b2f;
  }--*/
  
  #header #logo img {
    border:1px ridge #e0e8f8;
    width: 80px;
    height:auto;;
    padding: 0;
    margin: 0;
  }
  
  /*---intro-------*/
  
  #intro {
    display: table;
    width: 100%;
    height: 100vh;
    background: #000;
  }
  
  #intro .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #intro .carousel-item::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #intro .carousel-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #intro .carousel-background img {
    max-width: 100%;
  }
  
  #intro .carousel-content {
    text-align: center;
  }
  
  #intro h1 {
    font-family: "Montserrat", sans-serif;
    color: #e0e8f8;
    margin-bottom: 30px;
    font-size: 58px;
    font-weight: 500;
  }
  
  #intro p {
    text-align: center;
    width: 80%;
    margin: 0 auto 30px auto;
    color: #e0e8f8;
  }
  
  #intro .carousel-fade {
    overflow: hidden;
  }
  
  #intro .carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
  }
  
  #intro .carousel-fade .carousel-inner .carousel-item,
  #intro .carousel-fade .carousel-inner .active.carousel-item-left,
  #intro .carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 0;
  }
  
  #intro .carousel-fade .carousel-inner .active,
  #intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
  #intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
  }
  
  #intro .carousel-fade .carousel-inner .carousel-item-next,
  #intro .carousel-fade .carousel-inner .carousel-item-prev,
  #intro .carousel-fade .carousel-inner .active.carousel-item-left,
  #intro .carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  #intro .carousel-control-prev,
  #intro .carousel-control-next {
    width: 10%;
  }
  
  #intro .carousel-control-next-icon,
  #intro .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    line-height: 1;
  }
  
  #intro .carousel-indicators li {
    cursor: pointer;
  }
  
  #intro .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    border: 1px solid #8db600;
    transition: 0.5s;
    margin: 10px;
    color: #e0e8f8;
    background: rgba(85, 107, 47, 0.7);
  }
  #services .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    border: 1px solid #8db600;
    transition: 0.5s;
    margin: 10px;
    color: #e0e8f8;
    background: rgba(2, 0, 3, 0.5);
  }
  #services .btn-get-started:hover {
    background: #e0e8f8;
    color: #556b2f;
  }
  #intro .btn-get-started:hover {
    background: #e0e8f8;
    color: #556b2f;
  }
  
  